.about-content {
    align-self: center;
    width: 50%;
    margin: auto 0;
  }
  
  /* Order matters here */
  @media screen and (max-width: 1000px) {
    .about-content {
        align-self: center;
        width: 70%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .about-content {
        align-self: center;
        width: 90%;
    }
  }